/* Styles */

// @import "font-awesome.scss";
@import "font-mfizz.scss";

// body {
// 	padding: 2rem;
// }

// .fa {
// 	display: block;
// }

@font-face {
  font-family: 'Icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.woff2") format('woff2'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype'), url("../fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

div.content-main {
	padding-top: 5rem;
	min-height: calc(100vh - 80px);
}

div.footer.segment {
	height: 80px;
}

.label {
	&.brown {
		&.light {
			background-color: #D67C1C !important;
			// background-color: darken(adjust-hue(#A5673F, 20%), 5%) !important;
			&.extra {
				// background-color: #D67C1C !important;
				background-color: lighten(#D67C1C, 10%) !important;
				// background-color: darken(adjust-hue(#A5673F, 30%), 10%) !important;
			}
		}
	}
}

.recent-engagements {
	margin-bottom: 1rem !important;
}

i.experience-icons.icon,
i.experience-icons.icon.inverted.bordered.circular {
	// $icolor: #767676;
	$icolor: #dddddd;
	// $icolor: #ff3333;
	color: $icolor;
	background-color: $icolor !important;
	transition: color 0.5s linear;
	transition: background-color 0.5s linear;

	margin: 0.1rem !important;
	font-size: 2em;

	&.exp5 { 
		// color: lighten($icolor, 0);
		background-color: darken($icolor, 100%) !important;
		// opacity: 1; 
	}
	&.exp4 { 
		// color: lighten($icolor, 10%);
		background-color: darken($icolor, 75%) !important;
		// opacity: 0.95; 
	}
	&.exp3 { 
		// color: lighten($icolor, 20%);
		background-color: darken($icolor, 55%) !important;
		// opacity: 0.9; 
	}
	&.exp2 { 
		// color: lighten($icolor, 30%);
		background-color: darken($icolor, 35%) !important;
		// opacity: 0.8; 
	}
	&.exp1 { 
		// color: lighten($icolor, 40%);
		background-color: darken($icolor, 15%) !important;
		// opacity: 0.7; 
	}
	
	&:hover {
		// border: 1px solid red;
		// color: #F2711C !important;
		color: #2185D0;
	}
}

// Experience levels

// p.indent {
// 	padding-left: 1rem;
// }

// /*---  Colors  ---*/
// @red              : #DB2828;
// @orange           : #F2711C;
// @yellow           : #FBBD08;
// @olive            : #B5CC18;
// @green            : #21BA45;
// @teal             : #00B5AD;
// @blue             : #2185D0;
// @violet           : #6435C9;
// @purple           : #A333C8;
// @pink             : #E03997;
// @brown            : #A5673F;
// @grey             : #767676;
// @black            : #1B1C1D;

// /*---  Light Colors  ---*/
// @lightRed         : #FF695E;
// @lightOrange      : #FF851B;
// @lightYellow      : #FFE21F;
// @lightOlive       : #D9E778;
// @lightGreen       : #2ECC40;
// @lightTeal        : #6DFFFF;
// @lightBlue        : #54C8FF;
// @lightViolet      : #A291FB;
// @lightPurple      : #DC73FF;
// @lightPink        : #FF8EDF;
// @lightBrown       : #D67C1C;
// @lightGrey        : #DCDDDE;
// @lightBlack       : #545454;

// /*---   Neutrals  ---*/
// @fullBlack        : #000000;
// @offWhite         : #F9FAFB;
// @darkWhite        : #F3F4F5;
// @midWhite         : #DCDDDE;
// @white            : #FFFFFF;

// /*--- Colored Backgrounds ---*/
// @redBackground    : #FFE8E6;
// @orangeBackground : #FFEDDE;
// @yellowBackground : #FFF8DB;
// @oliveBackground  : #FBFDEF;
// @greenBackground  : #E5F9E7;
// @tealBackground   : #E1F7F7;
// @blueBackground   : #DFF0FF;
// @violetBackground : #EAE7FF;
// @purpleBackground : #F6E7FF;
// @pinkBackground   : #FFE3FB;
// @brownBackground  : #F1E2D3;
